.container--config {
    padding: 0 $pd-7;
}
#vehicles {
    background-color: $color-blue-overlay;

    #vehicles-content {
        position: relative;
        .vehicles-nav {
            background-color: $color-white;
            text-align: center;
            padding: $pd-3 0;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    a {
                        padding: $pd-1 $pd-4;
                        font-weight: $font-weight-bold;
                        color: $color-dark-blue-200;
                        border-right: $border-3;
                        font-size: $font-size-1;
                        text-decoration: none;
                        &:hover {
                            color: $color-blue-200;
                        }
                    }
                }
                li.active {
                    a {
                        color: $color-blue-200;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    #vehicle-list {
        background-color: $color-grey;
        padding: $pd-6;
        max-height: 700px;

        .vehicle-title {
            h1 {
                background-color: $color-grey;
                position: relative;
                top: $mg-up-2;
                padding: 0 $pd-1;
                color: $color-dark-blue-200;
                font-weight: $font-weight-bold;
                font-size: $font-size-3;
                i {
                    font-size: $font-size-3 * 0.5;
                    position: relative;
                    top: $mg-up-1;
                }
                span {
                    font-weight: $font-weight-normal;
                }
            }
        }
        .vehicle-product {
            margin-bottom: $mg-3;
            color: $color-dark-blue-200;
            &:hover > .vehicle-img img:last-of-type {
                display: block;
            }
            &:hover > .vehicle-img img:first-of-type {
                display: none;
            }
            img {
                height: 215px;
            }

            .vehicle-img img:last-of-type {
                display: none;
            }
            h2 {
                font-size: $font-size-2;
                font-weight: $font-weight-bold;
                margin-bottom: $mg-1;
            }
            .vehicle-info {
                margin-bottom: $mg-2;
                h3 {
                    font-weight: $font-weight-normal;
                    font-size: $font-size-3;
                }
                p {
                    font-size: $font-size-1;
                    margin-bottom: $mg-1;
                }
            }
            .btn-vehicle {
                margin-right: $mg-1;
            }
        }
    }
    #vehicle-close {
        background-color: $color-grey;
        width: $vehicle-close-width;
        padding-top: $pd-2 - 5px;
        padding-bottom: $pd-2 - 5px;
        text-align: center;
        position: absolute;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        color: $color-blue-100;
        cursor: pointer;

        &:hover > .vehicle-cirle {
            border: 1px solid $color-dark-blue-100;
        }
        left: 100%- $pd-7;
        .vehicle-cirle {
            width: 25px;
            height: 25px;
            border: 1px solid $color-blue-100;
            border-radius: 50%;
            margin: 0 auto;
            i {
                font-size: $font-size-1 + 0.2rem;
                line-height: 24px;
            }
        }
        p {
            font-size: $font-size-1;
            font-weight: $font-weight-bold;

            margin: 0;
        }
    }
}
.active {
    background-color: white;
    color: $color-blue-100 !important;
}
.hide {
    display: none;
}
